---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  modernize-use-nullptr,
  -clang-analyzer-optin.core.EnumCastOutOfRange
WarningsAsErrors: '*'
HeaderFilterRegex: '^.*/src/.*'
SystemHeaders: false
